# Python build files
__pycache__/
*.py[cod]
*$py.class
venv/
.pytest_cache/
__init__.py

# Env Variables 
.env

# Docker / Local Data
volume/
.localstack/

# IDE settings
.vscode/
.idea/
.DS_Store
.cursor/
.agents/

# terraform build files
.terraform*
